<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020. www.sonsure.com Inc. All rights reserved.
  ~ You may obtain more information at
  ~
  ~   http://www.sonsure.com
  ~
  ~ Designed By Selfly Lee (selfly@live.com)
  -->

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mybatis/mapper/user.xml"/>
    </mappers>
</configuration>